{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <form action="{{ url_for('user.process_save_settings') }}"
                method="POST" class="text-center mb-3">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.telegram_user.label }}
                    {{ form.telegram_user(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.default_reminder_time.label }}
                    {{ form.default_reminder_time(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.time_start_new_day.label }}
                    {{ form.time_start_new_day(class_='form-control') }}
                </div>
                <div class="form-group form-check-inline">
                    {{ form.week_report(class_='form-check-input') }}
                    {{ form.week_report.label(class_='form-check-label') }}
                </div>
                <div class="form-group form-check-inline">
                    {{ form.month_report(class_='form-check-input') }}
                    {{ form.month_report.label(class_='form-check-label') }}
                </div>
                {{ form.submit(class_='btn btn-primary') }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
