{% extends 'base.html' %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-4">
            <ul class="list-group">
                {% if task_templates %}
                    {% for template in task_templates %}
                        <li class="list-group-item">
                            <div class="row align-items-center">
                                <div>
                                    <h4>
                                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                           href="{{ url_for('task_template.edit_template', task_id=template.id) }}">
                                            {{ template.name }}
                                        </a>
                                    </h4>
                                    <p class="mt-2">{{ template.description }}</p>

                                    {% if template.is_active==False %}
                                        <span class="badge bg-danger">Задача отключена</span>
                                    {% else %}
                                        <span class="badge bg-success">Задача активна</span>
                                    {% endif %}
                                    <!-- <a href="{{ url_for('tasks.update', task_id=template.id) }}" class="btn
                                            btn-outline-secondary">Отметить</a>
                                    <a href="{{ url_for('tasks.delete_task', task_id=template.id) }}" class="btn
                                            btn-outline-success">Удалить</a> -->
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <h4>Ещё не создано ни одной задачи</h4>
                {% endif %}
                <a href="{{ url_for('task_template.add_template') }}" class="btn btn-primary">Добавить задачу</a>
            </ul>
        </div>
    </div>

{% endblock %}
